@font-face {
    font-family: 'Malahit';
    src: url('./fonts/Malahit-Bold.woff2') format('woff2'),
        url('./fonts/Malahit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

