* {
    box-sizing: border-box; border-radius: 30px;
 }

 .product-item { 
    width: 300px;
    text-align: center;
    margin: 0 auto;
    
    background: white;
    font-family: 'Glory Signature Personal Use';
    transition: .3s ease-in;
    
 }
 .product-item:hover { 
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   object-fit: cover;
    border-bottom: 2px solid #fc5a5a;
    border-radius: 30px;
    box-shadow:  10px 10px 40px 10px #00000029;
 }
 .product-item img {  display: flex;    
    flex-wrap:wrap; 
   row-gap: 10px; /* расстояние между строками*/    
   column-gap: 30px; /* расстояние между столбцами*/
   height:400px;
   width:300px;
   justify-content: center;
   
 }
 .product-list {
    background: #fafafa;
    padding: 15px 0;
 }
 .product-list h3 {
    font-size: 40px;
    font-weight: 100;
    color: #444444;
    margin: 0 0 10px 0;
    font-family:'Glory Signature Personal Use' ;
    text-decoration: underline;
  }

 .price { 
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
    color: #fc5a5a;
    font-family:'Banty', 'PT Rouble Decorative';
    font-style: italic;
    display:block;
    margin-bottom: 12px;
 }
 .button {
    text-decoration: none;
    display: inline-flex;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
 }
 .product-item:hover .button {
    background: #fc5a5a;
 }

 .logo 
 { font-family: 'Glory Signature Personal Use';
   background: #FFC0CB; /* Цвет фона под заголовком      "Brush Script MT", Brush Script Std, cursive       OpenType   TrueType  Snell Roundhand, cursive*/
   text-align:center; 
   font-size:300%;
   font-style: italic;
   }


    IMG.displayed {
        size: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
    
    html {
        background-image: url(images/fon.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    
      .container {    
         display: flex;    
         flex-wrap: wrap;    
         row-gap: 10px; /* расстояние между строками*/    
         column-gap: 30px; /* расстояние между столбцами*/

      }

      .c-button {
        position: relative;
        left: 23px;
        font-size: 30px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px rgb(248, 193, 202);
        border-radius: 30px;
        background-image: linear-gradient(to right, #FFC0CB 0%, rgb(224, 127, 144) 51%, #FFC0CB 100%);
        font-family: 'Glory Signature Personal Use';
        border-bottom: 2px solid #fdb0b0;
        border-left: 2px solid #fdb0b0;
        border-right: 2px solid #fdb0b0;
        border-top: 2px solid #fdb0b0
      }
      

      .c-button:hover { 
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        object-fit: cover;
         border-radius: 30px;
        box-shadow:  10px 10px 40px 10px #00000029;
      }

      .icon-excel {
        background-image: url("images/icons8-смс-70.png");
        padding-left : 100px;
        background-repeat : no-repeat;
      }

        .icon {
          background-image: url("images/icons8-эл.-адрес-70.png");
          padding-left : 100px;
          background-repeat : no-repeat;
        }
     
    
       a {

         outline: none;
         text-decoration: none;
         padding: 20px 1px 0;
       }
       
       a:link {
        color: #1b1919fb;
      }
       
       a:visited {
         color: #e0d1d1;
       }
       
       a:focus {
         border-bottom: 1px solid;
         background:  #f879a3;
       }
       
     
     