* {
    box-sizing: border-box; border-radius: 30px;
 }

 .product-item { 
    width: 300px;
    text-align: center;
    margin: 0 auto;
    
    background: white;
    font-family: 'Glory Signature Personal Use';
    transition: .3s ease-in;
    
 }
 .product-item:hover { 
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   object-fit: cover;
    border-bottom: 2px solid #fc5a5a;
    border-radius: 30px;
    box-shadow:  10px 10px 40px 10px #00000029;
 }
 .product-item img {  display: flex;    
    flex-wrap:wrap; 
   row-gap: 10px; /* расстояние между строками*/    
   column-gap: 30px; /* расстояние между столбцами*/
   height:400px;
   width:300px;
   justify-content: center;
   
 }
 .product-list {
    background: #fafafa;
    padding: 15px 0;
 }
 .product-list h3 {
    font-size: 40px;
    font-weight: 100;
    color: #444444;
    margin: 0 0 10px 0;
    font-family:'Glory Signature Personal Use' ;
    text-decoration: underline;
  }

 .price { 
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
    color: #fc5a5a;
    font-family:'Banty', 'PT Rouble Decorative';
    font-style: italic;
    display:block;
    margin-bottom: 12px;
 }
 .button {
    text-decoration: none;
    display: inline-flex;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
 }
 .product-item:hover .button {
    background: #fc5a5a;
 }

 .logo 
 { font-family: 'Glory Signature Personal Use';
   background: #FFC0CB; /* Цвет фона под заголовком      "Brush Script MT", Brush Script Std, cursive       OpenType   TrueType  Snell Roundhand, cursive*/
   text-align:center; 
   font-size:300%;
   font-style: italic;
   }


    IMG.displayed {
        size: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
    
    html {
        background-image: url(images/fon.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    
      .container {    
         display: flex;    
         flex-wrap: wrap;    
         row-gap: 10px; /* расстояние между строками*/    
         column-gap: 30px; /* расстояние между столбцами*/

      }

      .c-button {
         min-width: 10px;
         appearance: none;
         border: 0;
         border-radius: 30px;
         background: #c46776;
         color: rgb(255, 255, 255);
         padding: 8px 8px;
         font-size: 30px;
         font-family: 'Glory Signature Personal Use';
         cursor: pointer;
       }

       .c-button:hover {
         background:#eb8f8f;
       }
       
       .c-button:focus {
         outline: none;
         box-shadow: 0 0 0 4px #cbd6ee;

      }

       
       a {
         outline: none;
         text-decoration: none;
         padding: 2px 1px 0;
       }
       
       a:link {
         color: #ebdfdf;
       }
       
       a:visited {
         color: #ebdfdf;
       }
       
       a:focus {
         border-bottom: 1px solid;
         background:  #f879a3;
       }
       
       a:hover {
         border-bottom: 1px solid;
         background: #e98585;
       }
       
       a:active {
         background: #dfc4c4;
         color: #d19898;
       }